/chosa/code/.vs
/chosa/code/Debug
/chosa/code/botlib/Debug
/chosa/code/cgame/Debug
/chosa/code/cgame_game/Debug
/chosa/code/cgame_game_q3_ui/Debug
/chosa/code/cgame_ui/Debug
/chosa/code/qagame/Debug
/chosa/code/qcommon_lib/Debug
/chosa/code/quake3/Debug
/chosa/code/renderer/Debug
/chosa/code/ui/Debug
/chosa/quake3.sln - ショートカット.lnk
